extends layout

block content
	// Page Header
	header.masthead(style="background-image: url('/img/add-post.jpg')")
		.overlay
		.container
			.row
				.col-lg-8.col-md-10.mx-auto
					.page-heading
						h1 Add New Post
						span.subheading Have Ideas? I have a scratchboard.
	// Main Content
	.container
		.row
			.col-lg-8.col-md-10.mx-auto
				h2
					| So you wanna write a post?
				// Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work.
				// WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address!
				// To use the contact form, your site must be on a live web host with PHP! The form will not work locally!
				form#contactForm(method="POST", action="/posts/add", enctype="multipart/form-data")
					.control-group
						.form-group.floating-label-form-group.controls
							label Post Title
							input#name.form-control(type='text', name='title' placeholder='Title', required='', data-validation-required-message='Please enter the Title')
							p.help-block.text-danger
					.control-group
						.form-group.floating-label-form-group.controls
							label Sub-Heading
							input#email.form-control(type='text',name='subheading' placeholder='Sub-Heading')
							p.help-block.text-danger
					.control-group
						.form-group.floating-label-form-group.controls
							label Category
							input#email.form-control(type='text',name='category' placeholder='Category', required='', data-validation-required-message='Please enter a category')
							p.help-block.text-danger
					.control-group
						.form-group.floating-label-form-group.controls
							label Post Body
							textarea#message.form-control(rows='5',name='body' placeholder='Post Starts with...', required='', data-validation-required-message='Please enter Post Content')
							p.help-block.text-danger
					.control-group
						.form-group.floating-label-form-group.controls
							label Tag
							input#phone.form-control(type='text',name='tag' placeholder='Tag',required='', data-validation-required-message='Please enter a tag to access the post')
							p.help-block.text-danger		
					.control-group
						.form-group.floating-label-form-group.controls
							label Author
							input#email.form-control(type='text',name='author' ,placeholder='Author' )
							p.help-block.text-danger
					.control-group
						.form-group.floating-label-form-group.controls
							label Meta Body
							input#email.form-control(type='text',name='meta_body' placeholder='Meta Body', required='', data-validation-required-message='Please enter the meta body')
							p.help-block.text-danger
					.control-group
						.form-group.floating-label-form-group.controls
							label Post Image Name
							input#email.form-control(type='text',name='post_image' placeholder='Post image name')
							p.help-block.text-danger
					.control-group
						.form-group.floating-label-form-group.controls
							label Password
							input#email.form-control(type='password',name='password', placeholder='Shhh.. Enter your password quitely', required='', data-validation-required-message='What?? You don\'t know the password??' )
							p.help-block.text-danger
					.control-group
						.form-group.floating-label-form-group.controls
							label Images
							input#file.form-control(type='file',name='images', placeholder='Choose Images', multiple )
							p.help-block.text-danger
					br
					#success
					.form-group
						button#sendMessageButton.btn.btn-primary(type='submit') Post
	hr
	